{{ define "hero" }}
<div class="row row-cols-1 row-cols-md-2 mb-4 mt-4">
  {{ range first 2 ( where .Site.RegularPages ".Params.featured" "=" true ) }}
  <div class="col">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        {{ with .Params.categories }}
        {{ $category := print "/categories/" (index . 0) }}
        {{ with $.Site.GetPage $category }}
        <strong class="d-inline-block mb-2 text-primary">{{ .Title }}</strong>
        {{ end }}
        {{ end }}
        <h3 class="mb-0">{{ .Page.Title }}</h3>
        <div class="mb-1 text-muted">{{ .Page.Date.Format "January 2, 2006" }}</div>
        <p class="card-text mb-auto">{{- .Page.Summary | safeHTML -}}</p>
        <a href="{{ .Page.RelPermalink }}" class="stretched-link">Continue reading</a>
      </div>
      {{ with .Resources.GetMatch .Params.thumbnail }}
      <div class="col-auto d-none d-lg-block">
        {{ $image := .Fill "300x300" }}
        <img class="img-fluid" src="{{ $image.RelPermalink }}">
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
{{ define "main" }}
<main aria-role="main">
  {{ with .Params.subtitle }}
  <h2>{{.}}</h2>
  {{ end }}
  {{.Content}}
  <div>
    {{ range first 10 .Site.RegularPages }}
    {{ .Render "summary"}}
    {{ end }}
  </div>
</main>
{{ end }}
{{ define "sidebar" }}
<p>Blah blah blah</p>
{{ end }}