{{ define "hero" }}
<div class="row mb-4 mt-4">
  {{ range first 2 ( where .Site.RegularPages ".Params.featured" "=" true ) }}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        {{ with .Params.categories }}
        {{ $category := print "/categories/" (index . 0) }}
        {{ with $.Site.GetPage $category }}
        <strong class="d-inline-block mb-2 text-primary">{{ .Title }}</strong>
        {{ end }}
        {{ end }}
        <h3 class="mb-0">{{ .Page.Title }}</h3>
        <div class="mb-1 text-muted">{{ .Page.Date.Format "January 2, 2006" }}</div>
        <p class="card-text mb-auto">{{- .Page.Params.subtitle | safeHTML | truncate 50 -}}</p>
        <a href="{{ .Page.RelPermalink }}" class="stretched-link">Continue reading</a>
      </div>
      {{ with .Resources.GetMatch .Params.thumbnail }}
      <div class="col-auto d-none d-lg-block">
        {{ $image := .Fill "200x250" }}
        <img class="img-fluid" src="{{ $image.RelPermalink }}">
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
{{ define "main" }}
<main aria-role="main">
  {{ with .Params.subtitle }}
  <h2>{{.}}</h2>
  {{ end }}
  {{.Content}}
  <div class="row" data-masonry='{"percentPosition": true }'>
    {{ range first 10 ( where .Site.RegularPages "Section" "in" (slice "post" "astrophotos") ) }}
    <div class="col-sm-6 col-lg-4 mb-4">
      {{ .Render "card" }}
    </div>
    {{ end }}
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
  async></script>
{{ end }}
{{ define "sidebar" }}
<div class="col col-md-3">
  <p>Blah blah blah</p>
</div>
{{ end }}