<!DOCTYPE html>
<html>

<head>
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>
  <meta charset="utf-8">
  <meta name="description" content="Website meta description for google search results go here" />
  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#1A94D2" />

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

  {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
</head>

<body>
  {{- partial "header.html" . -}}
  <div class="container">
    <div class="row">
      <div class="col col-md-9">
        {{- block "main" . }}{{- end }}
      </div>
      <div class="col col-md-3">
        Sidebar
      </div>
    </div>
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>