<!DOCTYPE html>
<html>

<head>
  <title>
    {{- block "title" . -}}
    {{ .Site.Title }}
    {{- end -}}
  </title>
  <meta charset="utf-8">
  <meta name="description" content="Website meta description for google search results go here" />
  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#1A94D2" />

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

  {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>

<body>
  {{- partial "header.html" . -}}
  {{ if not .IsHome }}
  {{- partial "breadcrumb.html" . -}}
  {{ end }}
  <div class="container">
    {{- block "hero" . -}}{{- end -}}
    <div class="row">
      <div class="col">
        {{- block "main" . -}}{{- end -}}
      </div>
      {{- block "sidebar" . -}}{{- end -}}
    </div>
    {{- partial "footer.html" . -}}
  </div>
  {{- partial "body-end.html" -}}
  {{- block "body-end" . -}}{{- end -}}
</body>

</html>