{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<h1>
  {{ .Title }}
  {{ with .Params.subtitle }}
  <small class="text-muted">{{ . }}</small>
  {{ end }}
</h1>
<div class="mb-1 text-muted">{{ .Page.Date.Format "January 2, 2006" }}</div>
{{ if isset .Params "featureimage" }}
<figure class="figure">
  <picture>
    <img class="figure-img img-fluid" src="{{ .Params.featureImage }}" alt="{{ .Params.featureImageAlt }}">
  </picture>
  {{ if isset .Params "featureimagecap" }}
  <figcaption class="figure-caption">{{ .Params.featureImageCap }}</figcaption>
  {{ end }}
</figure>
{{ end }}
{{ .Content }}

{{ if index .Params "comments" | default true }}
{{ partial "disqus.html" . }}
{{ end }}
{{ end }}
{{ define "sidebar" }}
{{ $related := .Site.RegularPages.Related . | first 5 }}
<div class="col col-md-3">
  <div class="list-group">
    {{ with $related }}
    <div class="list-group-item">
      <h3>See Also</h3>
      <ul class="list-unstyled">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}