<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/{{ .Site.Params.logo }}" height="24" class="d-inline-block align-middle me-2">
      {{- .Site.Title -}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent `main` . }}active{{ end }}">
          <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="{{ .Name }}" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ .Title }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="{{ .Parent }}">
            {{ range .Children }}
            <li>
              <a class="dropdown-item {{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}" href="{{ .URL }}">
                {{ .Title }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link {{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}" href="{{ .URL }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <!--
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
    </div>
  </div>
</nav>