<ul class="list-unstyled">
    <li>
        <a href="https://github.com/ethanharstad" class="text-reset text-decoration-none">
            <i class="bi bi-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/ethanharstad/" class="text-reset text-decoration-none">
            <i class="bi bi-linkedin"></i> LinkedIn
        </a>
    </li>
    <li>
        <a href="https://twitter.com/NV1K" class="text-reset text-decoration-none">
            <i class="bi bi-twitter"></i> Twitter
        </a>
    </li>
</ul>